<!DOCTYPE html>
<html>
<head>
  <title>API Guard</title>
  <%= stylesheet_link_tag    "api_guard/application", media: "all" %>
  <%= javascript_include_tag "api_guard/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
